.container {
    display: flex;
    gap: 50px;
}

.pagNumDefault {
    background-color: rgb(184, 184, 184);
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}

.pagNumCurrent a, .pagNumDefault a {
    text-decoration: none;
    color: white;
}