.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
    flex-direction: column;
}

.table__container {
    display: flex;
    gap: 30px;
}

.column {
    padding: 10px;
}
